<!--
  User: fus
  Date: 2018/06/25
  Time: 14:56
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>客户管理</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>


</head>
<body>

<form class="form-inline" action="" method="get">
    <div class="form-group" >
        <label>
            姓名</label>
        <input type="text" name="name" class="form-control" value="" placeholder="姓名"/>
        </select>
        <label>
            客户ID</label>
        <input type="text" name="cusID" class="form-control" value="" placeholder="客户ID"/>
        <label>
           注册日期</label>
        <input type="text" name="cusID" class="form-control" value="" placeholder="开始日期"/>
        <label>-</label>
        <input type="text" name="cusID" class="form-control" value="" placeholder="结束日期"/>
        <button id="btnSel" type="button" class="btn btn-success _button" onclick="select()">
            <span class="glyphicon icon-search" aria-hidden="true"></span>&nbsp;查询
        </button>
        <button id="btnAdd" type="button" class="btn btn-success _button" data-toggle="modal"
                data-target="" onclick="')">
            <span class="glyphicon icon-plus" aria-hidden="true"></span>&nbsp;添加
        </button>

    </div>
</form>
<table class="table table-striped table-bordered table-hover" id="cusTable">
    <thead>
    <tr>
        <td> CustomerID</td>
        <td>FullName</td>
        <td>Gender</td>
        <td>Mobile</td>
        <td>AddTime</td>
        <td>LastLoginTime</td>
        <td>IntegralNum</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item:${list}">
        <!--<td style=" display:none" th:text="${item.ID}"></td>-->
        <td th:utext="${item.CustomerID}"></td>
        <td th:utext="${item.FullName}"></td>
        <td th:utext="${item.Gender}"></td>
        <td th:utext="${item.Mobile}"></td>
        <td th:utext="${#dates.format(item.AddTime, 'yyyy-MM-dd HH:mm:ss')}"></td>

        <td th:utext="${#dates.format(item.LastLoginTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:utext="${item.IntegralNum}"></td>
        <td></td>
    </tr>
    </tbody>
</table>

</body>
<script src="/js/jquery-3.3.1.js"></script>
<script src="/js/bootstrap.js"></script>
<script type="application/javascript" language="JavaScript">

    $(function () {
        alert('123123425678');
    });

</script>

</html>